#account-button-open, a.collection-item {
	cursor: pointer;
	z-index: 999;
}

#account-button-open {
	transition: 0.25s;
	border-radius: 50%;
	color: #5c6bc0;
	border: 2px solid #5c6bc0;
}

#account-button-open:hover {
	transition: 0.25s;
	color: white;
	background: #5c6bc0;
}

#login-logout-button {
	transition: 0.25s;
	background: #5c6bc0;
	color: white;
	border: 2px solid #5c6bc0;
	font-weight: bold;
}

#login-logout-button:hover {
	transition: 0.25s;
	background: white;
	color: #5c6bc0;
	cursor: pointer;
}

#login-form {
	margin-top: 10%;
	padding: 0 15em 0 15em;
}

.input-field input[type=text]:focus,
			input[type=password]:focus,
			input[type=number]:focus,
			input[type=email]:focus,
			textarea:focus {
	border-bottom: 3px solid #5c6bc0 !important;
}

.object-home-page-button {
	transition: 0.25s;
	background: white;
	color: #3949ab;
	font-weight: bold;
	border: 2px solid #3949ab;
}

.object-home-page-button:hover {
	transition: 0.25s;
	background: #3949ab;;
	color: white;
}

.top-distance {
	padding-top: 3%;
}

.bottom-distance {
	margin-bottom: 5%;
}

.submit-button {
	transition: 0.25s;
	background: #3949ab;
	color: white;
	font-weight: bold;
	border-radius: 10px;
	border-bottom: 3px solid #3949ab;
}

.submit-button:hover {
	transition: 0.25s;
	color: #3949ab;
	background: white;
}
