<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head_config">
	<meta charset="UTF-8" />
	<title th:text="|${title} - Spring Admin Panel|"></title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link th:href="@{~/css/materialize.min.css}" rel="stylesheet" />
	<link th:href="@{~/css/styles.css}" rel="stylesheet" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div th:fragment="navbar" class="left">
		<div id="sidebar-options" class="collection">
			<a id="menu-button-field" class="collection-item center-align" title="Click to expand menu">
				<i id="menu-button" class="small material-icons indigo-text lighten-1-text">menu</i>
			</a>
			<a class="collection-item" title="Home" th:href="@{/}">
				<i class="small material-icons indigo-text lighten-1-text">home</i>
				<span class="indigo-text lighten-1-text hide navbar-expandable-text">Home</span>
			</a>
			<a class="collection-item" title="Categories page" th:href="@{/category/home}">
				<i class="small material-icons indigo-text lighten-1-text">widgets</i>
				<span class="indigo-text lighten-1-text hide navbar-expandable-text">Categories</span>
			</a>
			<a class="collection-item" title="Products page" th:href="@{/product/home}">
				<i class="small material-icons indigo-text lighten-1-text">shopping_basket</i>
				<span class="indigo-text lighten-1-text hide navbar-expandable-text">Products</span>
			</a>
			<a class="collection-item" title="Users page" th:href="@{/users/home}" sec:authorize="hasRole('ADMIN')"> 
				<i class="small material-icons indigo-text lighten-1-text">person</i>
				<span class="indigo-text lighten-1-text hide navbar-expandable-text">Users</span>
			</a>
		</div>
	</div>

	<div th:fragment="profile" class="right">
		<i id="account-button-open"
			class="medium material-icons right">account_circle</i>

		<div id="profile-items" class="collection hide">
			<form method="POST" th:action="@{/logout}">
				<input id="login-logout-button" class="btn" type="submit" value="Sign out" />
			</form>
		</div>

	</div>
	
	<div th:fragment="object_home_options" class="container top-distance">
		<h2>[[${object.substring(0, 1).toUpperCase().concat(object.substring(1))}]] - Home</h2>
		<br />
		<div class="row">
			<div class="col s6">
				<a th:href="@{|/${object}/list|}">
					<div class="card white hoverable">
						<div class="card-content indigo-text darken-1-text">
							<span class="card-title">List [[${object}]]</span>
							<p>Click on this card to generate a full list of [[${object}]]</p>
						</div>
						<div class="card-action">
							<button class="btn object-home-page-button">GO</button>
						</div>
					</div>
				</a>
			</div>
			
			<div class="col s6" sec:authorize="hasRole('ADMIN')">
				<a th:href="@{|/${object}/create|}">
					<div class="card white hoverable">
						<div class="card-content indigo-text darken-1-text">
							<span class="card-title bold">Create new [[${object}]]</span>
							<p>Click on this card if you want to create a new [[${object}]]</p>
						</div>
						<div class="card-action">
							<button class="btn object-home-page-button">GO</button>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	
	<div th:fragment="errors_list">
   		<ul class="collection" th:if="${field_errors != null}">
   			<li class="collection-item red-text darken-2-text" th:each="field_error : ${field_errors}">
   				<i class="material-icons">error_outline</i> [[${field_error.getDefaultMessage()}]]
   			</li>
   		</ul>
	</div>
	
	<div th:fragment="object_not_found">
   		<ul class="collection" th:if="${object_is_not_present}">
   			<li class="collection-item red-text darken-2-text">
   				<i class="material-icons">error_outline</i> [[${object.substring(0, 1).toUpperCase().concat(object.substring(1))}]] not found
   			</li>
   		</ul>
	</div>
	
	<div th:fragment="action_success">
   		<ul class="collection" th:if="${success_message != null}">
   			<li class="collection-item green-text darken-2-text">
   				<i class="material-icons">check</i> [[${success_message}]]
   			</li>
   		</ul>
	</div>
	
	<div th:fragment="edit_button_view_page" sec:authorize="hasAnyRole('ADMIN', 'EMPLOYEE')">
		<a th:href="@{|/${object_type}/edit/${object_id}|}">Click here to edit this [[${object_type}]]</a>
	</div>

	<th:block th:fragment="js_declaration">
		<script th:src="@{~/js/materialize.min.js}" type="text/javascript"></script>
		<script th:src="@{~/js/scripts.js}" type="text/javascript"></script>
	</th:block>
</body>
</html>